<% layout('/layouts/boilerplate.ejs') -%>

<h2 class="heading text-center">Create a New Listing</h2>
<form method="POST" action="/listings" class="container-md needs-validation" novalidate enctype="multipart/form-data">
  <div class="col-auto mb-3">
    <label for="title">Title </label>
    <br />
    <input
      name="listing[title]"
      placeholder="Enter Title"
      id="title"
      type="text"
      class="form-control"
      required
    />
    <div class="invalid-feedback">
      Please choose a title
    </div>
  </div>
  <div class="col-auto mb-3">
    <label for="description">Description </label>
    <br />
    <textarea
      name="listing[description]"
      id="description"
      type="text"
      class="form-control"
      required
    ></textarea>
    <div class="invalid-feedback">
      Please enter a description
    </div>
  </div>
  <br>
  <div class="col-auto">
    <div class="d-flex flex-wrap">
    <div class="col-lg-3 edit-img-container mb-2 ">
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/No_image_available.svg/1024px-No_image_available.svg.png"
        alt="An Image"
        id="previewImage"
        loading="lazy"
        class="edit-img"
        height="200px"
        width="200px"
      />
    </div>
    <div class="col-lg-9 d-flex align-items-center file-div">
      <input
        type="file"
        id="fileInput"
        name="listing[image]"
        id="image"
        type="file"
        class="form-control"
      />
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-lg-4">
      <label for="price">Price </label>
      <br />
      <input
        name="listing[price]"
        placeholder="Enter Price"
        id="price"
        
        class="form-control"
        required
      />
      <div class="invalid-feedback">
        Please enter a price
      </div>
    </div>
    <div class="col-lg-8">
      <label for="country">Country </label>
      <br />
      <input
        name="listing[country]"
        placeholder="Enter Country"
        id="country"
        type="text"
        class="form-control"
        required
      />
      <div class="invalid-feedback">
        Please choose a country
      </div>
    </div>
  </div>
  <div class="row mb-3">

    <div class="col-lg-4">
    <label for="category">Category </label>
    <br />

      <select class="form-select" aria-label="Default select example" name="listing[category]" required >

        <option value = "" selected>Select Category</option>
        <option value="Home" >Home</option>
        <option value="Tropical">Tropical</option>
        <option value="Trending">Trending</option>
        <option value="Arctic">Arctic</option>
        <option value="Cabins">Cabins</option>
        <option value="Play">Play</option>
        <option value="Ski-in/out">Ski-in/out</option>
        <option value="Farms">Farms</option>
        <option value="Amazing Pools">Amazing Pools</option>
        <option value="Beach">Beach</option>
        <option value="Rooms">Rooms</option>
        <option value="New">New</option>
        <option value="Tree House">Tree House</option>
        <option value="Towers">Towers</option>

      </select>

    </div>



  <div class="col-lg-8">
    <label for="location">Location </label>
    <br />
    <input
      name="listing[location]"
      placeholder="Enter Location"
      id="location"
      type="text"
      class="form-control"
      required
    />
    <div class="invalid-feedback">
      Please choose a location
    </div>
  </div>

</div>
  <button class="btn red-btn mt-3">ADD</button>
</form>
