/* body{
    font-family: "Plus Jakarta Sans","sans-serif" !important;
} */
 

.container {
  min-height: 100vh;
}

.navbar {
  background-color: white !important;
  z-index: 100;
}



/* Index  */
.card {
  /* width: 100% !important;  */
  height: 23rem; 
  border: none;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.37);
  transition: transform 0.6s ease ,box-shadow 0.6s ease;
}

.carding > a {
  text-decoration: none;
}

.card:hover {
  opacity: 0.8;
  transform: scale(1.05);
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.731);
}

.card-price {
  font-weight: 700;
}

.card-img-top {
  min-height: 200px;
  max-height: 200px;
  object-fit: cover;
}   

.card-text {
  text-align: justify;
  hyphens: auto;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;

  text-overflow: ellipsis;

  display: box;
  box-orient: vertical;
  line-clamp: 3;
}

.card-title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.carding {
  display: grid;
  /* Auto-fill fits as many cards as possible, 1fr stretches them to fill the gap */
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  gap: 2rem;
  /* width: 100%; */
}

/* Show  */
.image {
  height: 300px;
  width: 400px;
}

.red-btn {
  color: white;
  background-color: #ff5a5f;
  transition: background-color 0.2s ease, transform 0.2s ease;
}

.red-btn:hover {
  color: white;
  background-color: #e04e54;
  transform: translateY(-1px);
}


/* flash */
.error-message {
  background-color: #e82d2de7 !important;
}

.message {
  background-color: #1f1f1fe7;
  color: white;
  z-index: 2;
  position: fixed;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  padding: 20px;
  border-radius: 15px;
  width: 83vw;
  min-width: 40vw;
  max-width: 90%;
  transition: all 0.2s ease-in-out;
}

/* Signup & Login*/
.heading {
  color: #ff5a5f;
}

/* Preview -  Image */
.edit-img {
  border-radius: 50%;
  object-fit: cover;
}

/* Map */
#map {
  width: 66vw;
  margin: 0 auto;
}

/* navbar */
.nav-link{
    /* border-bottom: 1px solid black;
    border-top: 1px solid #ff5a5f;

    border-radius: 30px; */
    margin: 0.1rem;
}




/* Footer */
.foot {
  font-size: 19px;
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  align-items: center;
}

.brand {
  display: flex;
  gap: 35px;
  align-items: center;
}

.brand > p {
  font-weight: 600;
}

#socials {
  font-size: 25px;
}

.terms > a {
  text-decoration: none;
  color: black;
}

.terms > a:hover {
  text-decoration: underline;
}

@media (max-width:425px){
  .foot{
    align-items: flex-start;
    padding-left: 25px;
  }
  .terms{
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
  }
  .brand{
    flex-direction: column;
    gap: 0px;
    align-items: flex-start;
  }
}
