<% layout('/layouts/boilerplate.ejs') -%>


<h2 class="heading text-center">SignUp</h2>
<form
  method="POST"
  action="/signup"
  class="container-md needs-validation"
  novalidate
>
  <div class="col-auto mb-3">
    <label for="username">Username </label>
    <br />
    <input
      name="username"
      placeholder="Enter Username"
      id="username"
      type="text"
      class="form-control bg-body-tertiary"
      required
    />
    <div class="invalid-feedback">Please choose a username</div>
  </div>
  <div class="col-auto mb-3">
    <label for="email">Email </label>
    <br />
    <input
      name="email"
      placeholder="Enter Email"
      id="email"
      type="email"
      class="form-control bg-body-tertiary"
      required
    />
    <div class="invalid-feedback">Please choose an email</div>
  </div>
  <div class="col-auto mb-3">
    <label for="password">Password </label>
    <br />
    <input
      name="password"
      placeholder="Enter Password"
      id="password"
      type="password"
      class="form-control bg-body-tertiary"
      required
    />
    <div class="invalid-feedback">Please choose Password</div>
  </div>
  <button class="btn red-btn mt-3">SignUp</button>
</form>